<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OMBD Film</title>
</head>
<body>
  <% for (key in film) { %>
    <%= key %>: <%= film[key]%>
    <br>
  <% } %>
</body>
</html>